################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AutoClickMouse/app.config
/AutoClickMouse/obj
/AutoClickMouse/bin
